body, body * {
    font-family: 'Montserrat', sans-serif;
    color: #494949;
    background-color:#ebf5eb;
}


.logo{
	position: absolute;
	left: 5px;
}
.tech, strong{
	display: inline;
	font-size: 20px;
	padding-bottom: 0;
	color: red;

}
img{
	height: 33px;
    width: 36px;
    margin: 5px;
}
.card-group>.card:first-child .card-img-top {
    border-top-right-radius: 0;
    height: 100%;
    }
a{
	background-color: #494949;
	color: #9fa3a7;
}
.nav-bar{
	background-color: #494949;
	color: #9fa3a7;
	font-size: 10PX;
}
a:hover{
	color: white;
}
.card-img-top{
	margin: 0;
}
.main-div{
	display: flex;


}
.icon{
	display: flex;
}
.para{
	font-size: 15px;
}
.card-group{
	height:50%;
	width: 60%;
	}
.btn{
	    padding: 3px;
    font-size: 8px;
}
.card{
	height: 27%;
	width: 140%;
	background-color: #f9f9f9;
}
.sectioning{
	margin-left: 20px;
}
i{
	color: #5ea32a;
}
.des{
	color: #5ea32a;
}